{% extends 'base.html.twig' %}

{% block title %}Mes informations{% endblock %}

{% block body %}

    <div class="title-mes-infos">
        <h2>Mes informations</h2>
    </div>

    <div class="informations">
        <div class="title-pseudo">
            <span><b>Pseudo :</b>  {{ app.user.pseudo }} </span>
        </div>
        <div class="title-email">
            <span><b>Email :</b> {{ app.user.email }} </span>
        </div>
    </div>

    <div class="edit-informations">
        <button class="edit-button">
            <a class="edit-info-link" href=" {{ path('edit-profile') }}">Modifier mes informations</a>
        </button>
    </div>

{% endblock %}