{% extends 'base.html.twig' %}

{% block title %}Mon historique{% endblock %}

{% block body %}

    {% if myWords | length > 0 %}
    <div class="general-container">
        <div class="title">
            <h2>Historique</h2>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Numéro</th>
                    <th>Mots</th>
                    <th>Définition</th>
                </tr>
            </thead>
            <tbody>
                {% for myWord in myWords %}
                    <tr>
                        <td> {{ loop.index }} </td>
                        <td> {{ myWord.word.word }} </td>
                        <td>{{ myWord.word.definition }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div>
            <p class="text-center">Votre historique est vide.</p>
        </div>
    {% endif %}
{% endblock %}
